body {
    font-family: 'Arial', sans-serif;
    background: url('img/fondo-panaderia.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 320px;
    text-align: center;
}
.login-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #d9534f; /* Color de acento de la panadería */
}
.login-container input {
    width: calc(100% - 20px);
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}
.login-container button {
    width: 100%;
    padding: 12px;
    background-color: #d9534f; /* Color de acento de la panadería */
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.login-container button:hover {
    background-color: #c9302c;
}
.login-container .message {
    margin-top: 10px;
    font-size: 14px;
}
.login-container img {
    max-width: 150px;
    margin-bottom: 20px;
}